.inline{
	display: inline-block;
	margin: 5px;
}

#searchbox{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
vertical-align: middle;
border-radius: 4px;
}

#buttons{
	margin-top: 20px;
}

.favs{
	margin-right: 5px;
	margin-top: 5px;
}